# Numbers

In [1]:
a=10

In [2]:
b=20

In [3]:
a+b

30

In [4]:
type(a)

int

In [5]:
c=45.6

In [6]:
d=78.9

In [7]:
type(c+d)

float

In [8]:
type(a+d)

float

# Arithmetic operations

In [9]:
a+b

30

In [10]:
a-b

-10

In [11]:
a*b

200

In [12]:
a/b

0.5

In [13]:
(a+b)/2

15.0

In [14]:
a//b

0

In [15]:
b//a

2

In [16]:
a%b

10

In [19]:
abs(-9)

9

# Strings

In [22]:
some_string="ITM FCS"

In [23]:
some_string[0]

'I'

In [24]:
some_string[:3]

'ITM'

In [25]:
some_string[1:]

'TM FCS'

In [26]:
some_string[::1]

'ITM FCS'

In [27]:
some_string[-2]

'C'

In [28]:
str ="The quick brown fox jumps over the lazy dog"

In [30]:
str[4:-4:3]

'qcbwf m et z'

# Concatenate

In [31]:
s="Hellow Everyone"

In [32]:
s=s+" How are you all"

In [33]:
s

'Hellow Everyone How are you all'

In [40]:
s.join("Tha")

'THellow Everyone How are you allhHellow Everyone How are you alla'

In [41]:
s.capitalize()

'Hellow everyone how are you all'

In [43]:
s.count('a')

2

In [45]:
s.replace('a','3')

'Hellow Everyone How 3re you 3ll'

# Lists

In [1]:
my_list=[1,2,3,4,5,6,7,8,9]

In [3]:
my_wierd_list=["Hy How are you",1," AM ",5,"EN",12.3,[1,2,3],{"KEY","VALUE"}]

In [4]:
my_wierd_list[0]

'Hy How are you'

In [5]:
my_wierd_list[-1]

{'KEY', 'VALUE'}

In [6]:
my_wierd_list[-2]

[1, 2, 3]

In [7]:
len(my_wierd_list)

8

# Slicing and Dicing

In [10]:
my_wierd_list[0:3:1]

['Hy How are you', 1, ' AM ']

In [11]:
my_wierd_list[1:-1:2]

[1, 5, 12.3]

In [12]:
my_wierd_list[::]

['Hy How are you', 1, ' AM ', 5, 'EN', 12.3, [1, 2, 3], {'KEY', 'VALUE'}]

In [13]:
my_list=["one","two","three","four"]

In [14]:
my_list[::]

['one', 'two', 'three', 'four']

In [16]:
my_list +[1,2,3,4,5]

['one', 'two', 'three', 'four', 1, 2, 3, 4, 5]

In [31]:
my_list = [1,2,3,4,5,6,7,8,9]

In [32]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
 my_list * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Basic methods in List

In [34]:
my_list.append("a")

In [35]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a']

In [36]:
my_list.remove(7)

In [37]:
my_list

[1, 2, 3, 4, 5, 6, 8, 9, 'a']

In [40]:
my_list.count(2)

1

In [44]:
my_list.insert(7,7)

In [45]:
my_list

[1, 2, 3, 4, 5, 6, 8, 7, 9, 'a']

In [47]:
my_list.remove('a')

In [48]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
my_list.sort()

In [50]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

In [53]:
my_dictionary = {1:"one",2:"two",3:"three"}

In [54]:
my_dictionary

{1: 'one', 2: 'two', 3: 'three'}

In [55]:
my_dictionary[2]

'two'

In [67]:
my_dict ={'key1':'value1','key2':206,'key3':[1,2,3,4,5,6,7,8,9],'key4':{'inside_key1':1}}

In [68]:
my_dict['key3']

[1, 2, 3, 4, 5, 6, 7, 8, 9]

my_dict

In [69]:
my_dict['key3'][2]

3

In [70]:
my_dict['key4']['inside_key1']

1

In [73]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', 206), ('key3', [1, 2, 3, 4, 5, 6, 7, 8, 9]), ('key4', {'inside_key1': 1})])

In [76]:
my_dict.get('key2')

206

In [85]:
keys ={'a','b','c','d'}

value =['fcs',1,2,3]

my_new_dict = dict.fromkeys(keys,value)

In [86]:
my_new_dict

{'d': ['fcs', 1, 2, 3],
 'a': ['fcs', 1, 2, 3],
 'c': ['fcs', 1, 2, 3],
 'b': ['fcs', 1, 2, 3]}

# Tuples

In [88]:
tup = (1,2,3,4,5,6,7,8,9)

In [89]:
tup.count(1)

1

# Set & booleans

In [90]:
x = set()

In [91]:
x.add(1)

In [92]:
x

{1}

In [93]:
x.add(2)

In [94]:
x

{1, 2}

In [95]:
y = set()

In [97]:
y.add(2)

In [98]:
y.add(3)

In [99]:
y.add(4)

In [100]:
y.add(5)

In [101]:
y.add(6)

In [102]:
x.add(3)

In [103]:
x.intersection(y)

{2, 3}

In [104]:
x.difference(y)

{1}

In [105]:
x

{1, 2, 3}

In [106]:
y

{2, 3, 4, 5, 6}

In [107]:
x.union(y)

{1, 2, 3, 4, 5, 6}

In [108]:
x.symmetric_difference(y)

{1, 4, 5, 6}

In [109]:
x

{1, 2, 3}

In [110]:
y

{2, 3, 4, 5, 6}

# Booleans

In [111]:
a = True

In [112]:
b = False

In [113]:
a=b

In [114]:
a==b

True